/*#region Fonts */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: lighter;
  src: local('Proxima Nova Light'), local('Proxima-Nova-Light'), url('/Assets/Font/proximanova-light-webfont.eot');
  src: url('/Assets/Font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/proximanova-light-webfont.woff') format('woff'), url('/Assets/Font/proximanova-light-webfont.ttf') format('truetype'), url('/Assets/Font/proximanova-light-webfont.svg#proximanovalight') format('svg');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'), url('/Assets/Font/proximanova-regular-webfont.eot');
  src: url('/Assets/Font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/proximanova-regular-webfont.woff') format('woff'), url('/Assets/Font/proximanova-regular-webfont.ttf') format('truetype'), url('/Assets/Font/proximanova-regular-webfont.svg#proximanovaregular') format('svg');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'), url('/Assets/Font/proximanova-semibold-webfont.eot');
  src: url('/Assets/Font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/proximanova-semibold-webfont.woff') format('woff'), url('/Assets/Font/proximanova-semibold-webfont.ttf') format('truetype'), url('/Assets/Font/proximanova-semibold-webfont.svg#proximanovasemibold') format('svg');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'), url('/Assets/Font/proximanova-bold-webfont.eot');
  src: url('/Assets/Font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/proximanova-bold-webfont.woff') format('woff'), url('/Assets/Font/proximanova-bold-webfont.ttf') format('truetype'), url('/Assets/Font/proximanova-bold-webfont.svg#proximanovabold') format('svg');
}
/*#endregion */
/*#region Responsive Templates */
/*#endregion */
/*#region Layout */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #edf0e9;
  color: #0f5f5c;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}
/*#endregion */
/*#region Shared */
html,
button,
input,
select,
textarea {
  color: #0f5f5c;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
.btn {
  background-color: #fff;
  border: 1px solid #6fb048;
  color: #6fb048;
}
.btn:hover,
.btn:focus {
  border: 1px solid #578c38;
  color: #578c38;
  background: #fdfdfd;
}
.box {
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #e0e0e0;
  -webkit-box-shadow: 0 1px 3px #e0e0e0;
  box-shadow: 0 1px 3px #e0e0e0;
  margin-top: 10px;
  overflow: hidden;
}
/*#endregion */
/*#region Header */
.navbar-default {
  min-height: 70px;
  background-color: #6fb048;
  color: #fff;
  border-color: transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  min-height: 70px;
  font-size: 15px;
  font-weight: lighter;
  color: #edf0e9;
  padding: 25px;
  margin-left: -25px !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-nav {
  min-height: 70px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
  padding: 25px 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #edf0e9;
}
.navbar-default .navbar-right:last-child {
  margin-right: -25px;
}
.navbar-default .navbar-right > li > a {
  padding: 15px;
}
.navbar-default .navbar-right > li > a:hover,
.navbar-default .navbar-right > li > a:focus {
  background-color: #83bf60;
  color: #fff;
}
.navbar-default .navbar-right .User > i {
  margin-left: 6px;
  margin-right: 9px;
}
.navbar-default .navbar-right .User .avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.navbar-default .navbar-right .dropdown-menu {
  background-color: #83bf60;
  border-top: 1px solid #add796;
  min-width: 140px;
}
.navbar-default .navbar-right .dropdown-menu > li > a {
  color: #fff;
}
.navbar-default .navbar-right .dropdown-menu > li > a:hover,
.navbar-default .navbar-right .dropdown-menu > li > a:focus {
  background-color: #6fb048;
  color: #fff;
}
.navbar-default .navbar-right .dropdown-menu .divider {
  background-color: #add796;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #83bf60;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-brand {
    margin-left: 0px !important;
  }
  .navbar-default .navbar-toggle {
    margin-right: 25px!important;
    margin-top: 17px!important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-collapse {
    max-height: none!important;
  }
  .navbar-default .navbar-right:last-child {
    margin-right: -15px;
  }
}
/*#endregion */
/*#region SubHeader */
.SubHeader {
  background-color: #fff;
  min-height: 50px;
  padding: 15px 0;
  text-align: center;
  -moz-box-shadow: 0 1px 3px #dbe1e9;
  -webkit-box-shadow: 0 1px 3px #dbe1e9;
  box-shadow: 0 1px 3px #dbe1e9;
}
.SubHeader a {
  display: inline-block;
  margin-right: 30px;
  color: #adc4c3;
}
.SubHeader a:hover {
  color: #5e8382;
  text-decoration: none;
}
.SubHeader a:last-child {
  margin-right: 0px;
}
.SubHeader a.active {
  font-weight: normal;
  color: #0f5f5c;
  cursor: default;
}
/*#endregion */
/*#region Footer */
.MainFooter {
  margin-bottom: 15px;
}
.MainFooter hr {
  margin-top: 29px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}
.MainFooter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.MainFooter ul li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.15);
}
.MainFooter ul li:after {
  content: "|";
  margin: 0 10px;
}
.MainFooter ul li:last-child:after {
  content: "";
  margin: 0;
}
.MainFooter ul li a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
}
.MainFooter ul li a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.MainFooter ul.left {
  float: left;
}
.MainFooter ul.right {
  float: right;
}
/*#endregion */
